/* Body Style */

body {
    background: url('../images/bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgb(532, 456, 356);
}

body a.link {
    color: rgb(0, 255, 64);
    cursor: pointer;
    text-decoration: none;
}

.username {
    transform: translateX(-30px);
    text-align: end;
    color: rgb(231, 231, 231);
}


/* Body Dark Theme Style */

body.dark {
    background: rgb(26, 26, 26);
    color: white;
}

body.dark a.link {
    color: rgb(0, 238, 255);
    cursor: pointer;
    text-decoration: none;
}


/* Website Messages */

.errorMessage {
    color: rgb(222, 160, 216);
}

.successMessage {
    color: rgb(178, 238, 184);
}

.warningMessage {
    color: rgb(247, 233, 106);
}


/* Fractions Styling */

.fraction, .top, .bottom {
    color: rgb(178, 238, 184);
    padding: 0 5px;    
}

.fraction {
    display: inline-block;
    text-align: center;    
}

.bottom {
    border-top: 1px solid rgb(178, 238, 184);
    display: block;
}


/* Green Button */

.button {
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .5em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.button:hover {
    background: rgb(53, 167, 110);
}

.button:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}


/* Big Green Button */

.bigButton {
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.bigButton:hover {
    background: rgb(53, 167, 110);
}

.bigButton:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}


/* Blue Button */

.button1 {
    text-align: center;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .5em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(0, 183, 255);
    box-shadow: 0 -3px rgb(0, 140, 233) inset;
    transition: 0.2s;
}

.button1:hover {
    background: rgb(17, 140, 201);
}

.button1:active {
    background: rgb(14, 108, 155);
    box-shadow: 0 3px rgb(33, 101, 140) inset;
}


/* Red Button */

.redButton {
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .5em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(219, 57, 57);
    box-shadow: 0 -3px rgb(185, 10, 10) inset;
    transition: 0.2s;
    text-align: end;
}

.redButton:hover {
    background: rgb(156, 14, 14);
}

.redButton:active {
    background: rgb(100, 8, 8);
    box-shadow: 0 3px rgb(92, 17, 17) inset;
}


/* Blue Options List */ 

.list {
    text-align: center;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .5em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(0, 183, 255);
    box-shadow: 0 -3px rgb(0, 140, 233) inset;
    transition: 0.2s;
}

.list:hover {
    background: rgb(17, 140, 201);
}

.list:active {
    background: rgb(14, 108, 155);
    box-shadow: 0 3px rgb(33, 101, 140) inset;
}


/* Big Fields Style */

.bigField {
    border: none;
    resize: vertical;
    background: rgb(39, 39, 44);
    color: white;
    margin: auto;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 5px;
    box-shadow: 0 -3px rgb(0, 0, 0) inset;
}

#menu1 {
    display: none;
}

a#hamburgerButton {
    text-decoration: none;
}


/* Buttons Text Color */

body a.button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

body a.button1 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

body a.bigButton {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

body a.redButton {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}



/* Head Aligns */

.menu {
    text-align: end;
}

.buttons {
    text-align: end;
    transform: translateX(-10px);
}

#menu {
    place-content: end;
}



/* Website Aligns */

.container {
    text-align: center;
    transform: translateY(60px);
}

footer {
    text-align: center;
    transform: translateY(60px);
}

footer ::after {
    white-space: pre-line;
    content: '\00a0 '
}

.progressbar {
    text-align: center;
    font-weight: 700;
    background: rgb(0, 183, 255);
    box-shadow: 0 -3px rgb(0, 140, 233) inset;
    transition: 0.2s;
}

#rememberMe {
    transform: translateX(1px);
}



/* ---------------------------- */
/* Small Screens Optimizations: */
/* ---------------------------- */


/* 1500 or less pixels screen width */

@media only screen and (max-width: 1500px) {
    .bigField {
        height: 600px;
        width: 900px
    }
}


/* 1000 or less pixels screen width */

@media only screen and (max-width: 1000px) {
    .bigField {
        height: 400px;
        width: 700px
    }
}


/* 800 or less pixels screen width */

@media only screen and (max-width: 800px) {
    .bigField {
        height: 300px;
        width: 500px
    }
}


/* 600 or less pixels screen width */

@media only screen and (max-width: 600px) {
    .bigField {
        height: 100px;
        width: 300px
    }
}


/* 400 or less pixels screen width */

@media only screen and (max-width: 400px) {
    .container {
        transform: scale(0.75)
    }
    
    .button1 {
        transform: scale(0.70);
        text-align: end
    }

    .list {
        transform: scale(0.70);
        text-align: end
    }

    .bigField {
        height: 200px;
        width: 300px
    }
}


/* 300 or less pixels screen width */

@media only screen and (max-width: 300px) {
    .button1 {
        transform: scale(0.70) translateX(40px);
        text-align: end;
    }

    .list {
        transform: scale(0.70)  translateX(40px);
        text-align: end
    }
}


/* Hamburger Styles */

#hamburgerButton {
    cursor: pointer;
    color: #fff;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
}

li {
    cursor: pointer;
}

img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 13px;
    right: 13px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #7f78bd;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    opacity: 1;
    transform: scale(1.05) translateY(-1px);
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

#hide {
    display: block;
}

#hamburger {
    display: none;
}

@media (max-width: 900px) {
    #hamburgerButton {
        display: none;
    }

    #hamburger {
        display: flex;
    }

    a img#logoIcon {
        visibility: visible
    }
}

@media (max-width: 603px) {
    .top-line .logo img {
        margin: 0 0px 5px 5px!important;
        height: 40px!important;
    }
}

.menu-head {
    float: left;
    font-size: 12pt;
    padding: 0px;
    height: 100%;
}

.top-line .logo {
    float: left;
    position: relative;
    text-align: left;
}

.top-line .logo ::after {
    display: inline-block;
    color: #ffffff;
    font-size: 17pt;
    padding: 7px 5px;
    margin-right: 5px;
    border-left: 2px solid #ffffff;
    transform: translateY(3px);
    line-height: .8;
    text-transform: uppercase;
    box-sizing: border-box;
}

.top-line .logo img {
    border-radius: 15px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    height: 40px;
    margin: 2px 0px 0px 5px;
}

.top-line .logo a:focus img {
    box-shadow: 0px 0px 0px 2px #fff;
    outline: none;
}

.top-line .logo a:focus {
    box-shadow: none;
    outline: none;
}

.menu-head ul {
    padding: 0;
    margin: 0;
}

.menu-head li {
    padding-top: 16px;
    display: inline-block;
    color: black;
    min-height: 100%;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
}

.menu-head li a {
    padding: 16px;
}

.menu-head li:hover {
    opacity: 1;
}

.top-line {
    box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, .4);
    position: absolute;
    top: 0px;
    background: #7f78bd;
    min-width: 100%;
    height: 60px;
    z-index: 1;
    left: 0
}

.top-line.h {
    box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, .4);
    position: absolute;
    top: 0px;
    background: #7f78bd;
    min-width: 100%;
    height: 50px;
    z-index: 1;
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-shield:before {
    content: "\f132";
}

.fa-cog:before {
    content: "\f013";
}

.fa-user:before {
    content: "\f007";
}

.fa-sign-out:before {
    content: "\f08b";
}

.fa-moon:before {
    content: "\f186";
}

.fa-sun-o {
    content: "\f185";
}

.fas {
    font-family: "Font Awesome 5 Free";
}

.fas {
    font-weight: 900;
}

::placeholder {
    color: #322a63a4;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    border-style: none;
}

.menu-head {
    margin: -2px;
}

@media print {
    *, *::before, *::after {
        text-shadow: none!important;
        box-shadow: none!important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

@media only screen and (max-width:350px) {
    .row {
        margin-right: 0;
    }
}

@media all {
    .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    .fas {
        font-family: "Font Awesome 5 Free";
    }

    .fas {
        font-weight: 900;
    }
}


#dialogue {
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 15px;
    border: 3px solid #585858;
    border-radius: 10px;
    color: #000000;
    position: absolute;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

#window {
    background: rgba(102, 102, 102, 0.5);
    background-size: 100% 100%;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#window:target {
    display: block;
}